// FONTS
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// COLORS
$HOMEPAGE_BACKGROUND: #E0D8E2; 
$MAIN_COLOR: #3B2591;
$SECOND_COLOR: #3B2591;
$THIRD_COLOR: #FFFFFF;

$MAIN_TEXT: #3B2591;
$INACTIVE_TEXT: #AFA5D8;

html, body {
	background-color: $HOMEPAGE_BACKGROUND;
    font-family: 'Roboto', sans-serif;
	padding: 0;
}

// TITLES
.name, h1 {
	color: $MAIN_TEXT;
	font-size: 30px;
}

.TopBlock {
	.menu {
		margin: 0;
	}
}





